/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Header / Perfil */
header {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
}

/*
.profile .avatar {
    width: 30vh;
    height: 30vh;
    background-image: url('../img/foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 0 50% 50% 0;
    transition: all 1s;
}
*/


.avatar {
    width: 30vh;
    height: 30vh;
    background-image: url('../img/foto.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    border-radius: 0 50% 50% 0;
    transition: all 1s;

}






.profile h1 {
    margin: 0.5rem 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

nav a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #003366;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 1rem 0;
}

.project, .job {
    margin-bottom: 1.5rem;
}

/* Contacto */
#contact ul {
    list-style: none;
}

#contact ul li a {
    color: #003366;
    text-decoration: none;
}

#contact ul li a:hover {
    text-decoration: underline;
}
